body{
    background-color: royalblue;
}
#score{
    margin-left: 50px;
    font-size: 20x=px;
}
#time{
    font-size: 15px;
    margin-right: 50px;
    float: right;
}
#sketch_name{
    color: lightgray;
}